@mixin center
{
  display: flex;
  justify-content: center;
}
@mixin shrik {
    font-family: 'Shrikhand', cursive;
}
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
main
{
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
}
header
{
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
}
*
{
    list-style: none;
}

.titreprincipal {
    @include center;
    @include shrik;
  border-bottom: solid #B7B7B7;
}
.recherche{
    background-color: #dedede;
    box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
  @include center
  
}
.explorez
{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include roboto;
    background-color: #ebebeb;
}
.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__bloc
    {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        &__texte
        {
            display: flex;
            align-items: center;
            width: 20%;
            justify-content: space-around;
            &__icon
            {
                display: flex;
                align-items: center;
            }
            &__num
            {
                    background-color: #9356DC;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                
                
            }
        }

    }
}
.restaurant
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
        &__titre
        {
            display: flex;
            justify-content: center;
        }
        &__bloc
        {
            display: flex;
            width: 60%;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &__card
            {
                width: 450px;
                height: 350px;
                overflow: hidden;
                    &-img
                    {
                        object-fit: cover;
                        height: 50%;
                    }
                    &-description
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
            }
         }
}
.restaurant__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    a
    {
      text-decoration: none;
        color: rgb(255, 255, 255);
          &:hover 
          {
          color: rgb(255, 255, 255);
          }
    }
}
.lien_footer
{
    display: flex;
    width: 100%;
    color: white;
    ul
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: white;
        li
        {
            color: white;
        }
    }
}
