body {
  margin: 0;
}

main {
  font-family: 'Roboto', sans-serif;
}

main a {
  text-decoration: none;
  color: black;
}

main a:hover {
  color: black;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: black;
}

* {
  list-style: none;
}

.titreprincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Shrikhand', cursive;
  border-bottom: solid #B7B7B7;
}

.recherche {
  background-color: #dedede;
  -webkit-box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  border-style: none;
  background-color: #dedede;
  border-radius: 0;
  font-weight: bold;
  padding-left: 20px;
  height: 50px;
  margin-top: 4px;
}

.explorez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
}

.explorez__texte h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explorez__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: #a5a5a5 0 5px 10px;
          box-shadow: #a5a5a5 0 5px 10px;
  border-radius: 25px;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.explorez__btn:hover {
  opacity: 0.90;
  -webkit-box-shadow: #747272 0 5px 10px;
          box-shadow: #747272 0 5px 10px;
}

.explorez__btn a {
  color: whitesmoke;
}

.explorez__btn a:hover {
  color: whitesmoke;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__bloc {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

.fonctionnement__bloc__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  background-color: #ebebeb;
  justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 280px;
  height: 70px;
  padding-right: 5%;
  margin: 10px;
  -webkit-box-shadow: #a5a5a5 0 5px 10px;
          box-shadow: #a5a5a5 0 5px 10px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.fonctionnement__bloc__texte:hover {
  background-color: #dfccf5;
  -webkit-box-shadow: #747272 0 5px 10px;
          box-shadow: #747272 0 5px 10px;
}

.fonctionnement__bloc__texte:hover i {
  color: #9356DC;
}

.fonctionnement__bloc__texte__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__bloc__texte__num {
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: -23px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
}

.restaurant__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 900px;
}

.restaurant__bloc__card {
  height: 350px;
  width: 95%;
  overflow: hidden;
  -webkit-box-shadow: #a5a5a5 0 5px 10px;
          box-shadow: #a5a5a5 0 5px 10px;
  border-radius: 15px;
  margin: 25px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.restaurant__bloc__card:hover {
  -webkit-box-shadow: #747272 0 5px 10px;
          box-shadow: #747272 0 5px 10px;
}

.restaurant__bloc__card-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
}

.restaurant__bloc__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0px 16px;
}

.restaurant__bloc__card-description-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}

.restaurant__bloc__card-description-icon svg {
  overflow: visible;
  width: 30px;
}

.restaurant__bloc__card-description-icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: transparent;
}

.restaurant__bloc__card-description-icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
  stroke: none;
}

.restaurant__bloc__card-description-icon .heart-main:hover path {
  -webkit-animation: stroke-animation 1.8s ease-in-out forwards;
          animation: stroke-animation 1.8s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
    stroke: url(#mygradient);
  }
  80% {
    fill: url(#mygradient);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: url(#mygradient);
  }
  93% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: url(#mygradient);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#mygradient);
    stroke: url(#mygradient);
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
    stroke: url(#mygradient);
  }
  80% {
    fill: url(#mygradient);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: url(#mygradient);
  }
  93% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: url(#mygradient);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#mygradient);
    stroke: url(#mygradient);
  }
}

.restaurant__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

.lien_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
}

.lien_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  color: white;
}

.lien_footer ul li {
  color: white;
}
/*# sourceMappingURL=main.css.map */