$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$background: #ebebeb;
/*écran de chargement*/
.bloc__chargement {
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: backgroundcharge 3200ms ease forwards;
  }
  
  @keyframes backgroundcharge {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -2;
    }
  } 
  .chargement {
    border-top: 40px solid $primaire;
    border-bottom: 40px solid $secondaire;
    border-left: 40px solid #9256dcc4;
    border-right: 40px solid #ff79d9b9;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    z-index: 4;
    animation: spin 3000ms ease-in-out forwards;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(720deg);
      opacity: 0;
      z-index: -1;
    }
  }
  


@mixin box-shadow 
{
    box-shadow: #a5a5a5 0 5px 10px;
}
@mixin box-shadow-hover 
{
    box-shadow: #747272 0 5px 10px;
}
@mixin center
{
  display: flex;
  justify-content: center;
}
@mixin shrik {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
@media (max-width:580px)
{
    footer
    {
        h2
        {
            padding-left: 40px; 
            padding-top: 20px;
            margin-bottom: 2px;
        }

        .lien_footer ul
        {
            display: flex;
            flex-direction: column;

        }
    }
}
@media (min-width:580px)
{
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center; 

        .lien_footer ul
        {
            display: flex;
            flex-direction: raw;

        }
    }
}
html
{
    scroll-behavior: smooth;
}
body 
{
    margin: 0;
    min-width: 390px;
}
main
{
    font-family: 'Roboto', sans-serif;
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
}
header
{
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
    
}
*
{
    list-style: none;
}

.titreprincipal {
    @include center;
    @include shrik;
    border-bottom: solid #B7B7B7;
}
.recherche{
    background-color: #dedede;
    box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
  @include center
  
}
input 
{
    border-style: none;
    background-color: #dedede;
    border-radius: 0;
    font-weight: bold;
    padding-left: 20px;
    height: 50px;
    margin-top: 4px;
}

.explorez
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
        &__texte 
        {
            width: 60%;
            text-align: center;
        
        
        
            h2
            {
                display: flex;
                justify-content:center;
            }
        }
        &__btn
        {
            background: linear-gradient($secondaire, $primaire);
            @include box-shadow;
            border-radius: 25px;
            padding: 15px;
            font-size: 18px;
            margin-bottom: 20px;
            transition: all 400ms;
                &:hover 
                {
                    opacity: 0.90;
                    @include box-shadow-hover;
                }
                a
                {
                    color: whitesmoke;
                        &:hover
                        {
                            color: whitesmoke;
                        }
                }
            
        }
}
.fonctionnement
{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__bloc
    {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 20px;
        
        &__texte
        {
            display: flex;
            align-items: center;
            width: 20%;
            justify-content: space-around;
            border-radius: 20px;
            background-color: $background;
            justify-content: space-around;
            flex-wrap: nowrap;
            width: 280px;
            height: 70px;
            padding-right: 5%;
            margin: 10px;
            @include box-shadow;
            transition: all 500ms;
                &:hover
                {
                    background-color: #dfccf5;
                    @include box-shadow-hover;
                }
                &:hover i
                {
                    color: $primaire;
                }
            &__icon
            {
                display: flex;
                align-items: center;
            }
            &__num
            {
                    background-color: $primaire;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    margin-left: -8%;
                   
            }
        }

    }
}
.restaurant
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $background;
        &__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
        &__titre
        {
            display: flex;
            justify-content: center;
        }
        &__bloc
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 900px;
            &__card
            {
                height: 350px;
                width: 95%;
                overflow: hidden;
                @include box-shadow;
                border-radius: 15px;
                margin: 25px;
                position: relative;
                transition: all 500ms;
                    &:hover 
                    {
                        @include box-shadow-hover;
                    }
                    &-img
                    {
                        object-fit: cover;
                        height: 70%;
                    }
                    &-new 
                    {
                        align-self: flex-end;
                        background-color: #99E2D0;
                        padding: 10px 20px 10px 20px;
                        border-radius: 5px;
                        color: #2d8a76;
                        font-weight: bold;
                        font-size: 18px;
                        position: absolute;
                        top: 10px;
                        right: 20px;
                            h5
                            {
                                margin: 0;
                            }
                    }

                    &-description
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 15px 0px 16px;
                        &-icon {
                            fill: transparent;
                            stroke: rgb(0, 0, 0);
                            stroke-width: 20;
                            cursor: pointer;
                            position: relative;
                          
                            svg {
                              overflow: visible;
                              width: 30px;
                            }
                          
                            path {
                              stroke-dashoffset: 0;
                              stroke-dasharray: 1550;
                              transform-origin: center;
                              fill: transparent;
                            }
                          
                            .heart-background {
                              position: absolute;
                              left: 0;
                              right: 0;
                              z-index: -2;
                              stroke: none;
                            }
                          
                            .heart-main:hover path {
                                animation: stroke-animation 1.8s ease-in both;
                              }
                        }
                    }
            }
         }
} 
  @keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
      stroke: url(#mygradient);
    }
    80% {
      fill: url(#mygradient);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
      fill: url(#mygradient);
    }
    93% {
        transform: scale(1.1);
        fill: url(#mygradient);
      }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#mygradient);
      stroke: url(#mygradient);
    }
  }


footer
{
    
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    h2
    {
        @include shrik
    }
    a
    {
      text-decoration: none;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
          &:hover 
          {
          color: rgb(255, 255, 255);
          }
    }

}
.texteicone
{
     margin-left: 10px;
}
.lien_footer
{
    display: flex;
    width: 100%;
    color: white;
    ul
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: white;
        li
        {
            color: white;
        }
    }
}

