$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$background: #ebebeb;
@mixin box-shadow 
{
    box-shadow: #a5a5a5 0 5px 10px;
}
@mixin box-shadow-hover 
{
    box-shadow: #747272 0 5px 10px;
}
@mixin center
{
  display: flex;
  justify-content: center;
}
@mixin shrik {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
}
@media (max-width:580px)
{
    .restaurant__bloc__card-new
    {
        margin: 15px 15px 15px 70%;
    }
    footer
    {
        h2
        {
            padding-left: 40px; 
            padding-top: 20px;
            margin-bottom: 2px;
        }

        .lien_footer ul
        {
            display: flex;
            flex-direction: column;

        }
    }
}
@media (min-width:580px)
{
    .restaurant__bloc__card-new
    {
        margin: 15px 15px 15px 80%;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center; 

        .lien_footer ul
        {
            display: flex;
            flex-direction: raw;

        }
    }
}
.vignet1
{
    -origin: bottom;
    animation: slide 1s ease-in 0.1s  both;
}
.vignet2
{
    animation: slide 1s ease-in 0.3s  both;
}
.vignet3
{
    animation: slide 1s ease-in 0.6s  both;
}
@keyframes slide {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body 
{
    margin: 0;
    min-width: 390px;
}
main
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-top: -100px;
    background-color: $background;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
}
*
{
    list-style: none;
}
header
{
    a{
    text-decoration: none;
    color: black;
        &:hover 
        {
            color: black;
        }
    }
    h1
    {
        margin: 0%;
        @include center;
        @include shrik;
    }
}
.header__img
{
   height: 500px;
   width: 100%;
   
    &-img
    {
        height: 100%;
   width: 100%;
   object-fit: cover;
    }
}

.titrerestaurant
{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 44px 0px 30px 0px;
    @include shrik ;
    align-items: center;
}
.restaurant__bloc__card-description-icon
{
    fill: transparent;
    stroke: black;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
  
    svg {
      overflow: visible;
      width: 30px;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
      fill: transparent;
    }
  
    .heart-background {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -2;
      stroke: none;
    }
  
    .heart-main:hover path {
      animation: stroke-animation 1.8s ease-in-out forwards;
    }
}
@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
      stroke: url(#mygradient);
    }
    80% {
      fill: url(#mygradient);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
      fill: url(#mygradient);
    }
    93% {
        transform: scale(1.1);
        fill: url(#mygradient);
      }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#mygradient);
      stroke: url(#mygradient);
    }
  }
  @keyframes checkanim {
    0% {
      flex: 0;
      background-color: $tertiaire;
    }
    70% {
      flex: 1.5;
      background-color: $tertiaire;
    }
    100% {
      flex: 1;
      background-color: $tertiaire;
    }
}
  .container
  {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .menu
  {
      width: 100%;
      &__titre h2
      {
          font-weight: normal;
      }
      &__titre h2::after
      {
          content: "";
          display: block;
          width: 55px;
          height: 3px;
          background: $tertiaire;
          margin-top: 2px;
      }
      &__card
      {
          display: flex;
          justify-content: space-between;
          width: 100%;
          overflow: hidden;
          background: white;
          border: 1px white;
          border-radius: 25px;
          margin-top: 15px;
          @include box-shadow ;
          position: relative;
          cursor: pointer;
            &:hover > .menu__card-check
            { 
               background-color: $tertiaire;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5px;
                overflow: hidden;
                border-radius: 0px 25px 25px 0px;
                animation: checkanim 1.5s ease-in-out both;
               
            }
            &:hover .fa-check-circle
             {
                transition: transform 700ms;
                animation: spin 1s ease-in-out both;
            }
             
          &-prix
          {
              display: flex;
              align-items: flex-end;
              font-weight: bold;
              position: relative;
              margin-right: 15px;
          }
          
          &-texte 
          { margin-left: 15px; 
            width: 70%;
              p
              {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
             }
          }
          &-check
          {
              display: flex;
              align-items: center;
              overflow: hidden;

            .fa-check-circle
            {
                color: white;
                font-size: 19px;
                font-weight: bold;
                
            }
          }
      }
    }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.commander__btn
{
    background: linear-gradient($secondaire, $primaire);
    @include box-shadow;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    width: 165px;
    margin-top: 25px;
        &:hover 
            {
                opacity: 0.90;
                @include box-shadow-hover;
            }
                a
                {
                    color: whitesmoke;
                        &:hover
                        {
                            color: whitesmoke;
                        }
                }
}
footer
{
    
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    h2
    {
        @include shrik
    }
    a
    {
      text-decoration: none;
        color: rgb(255, 255, 255);
          &:hover 
          {
          color: rgb(255, 255, 255);
          }
    }
}
.lien_footer
{
    display: flex;
    width: 100%;
    color: white;
    ul
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: white;
        li
        {
            color: white;
        }
    }
}